/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f4f8;
}

/*estilos del header*/

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    font-weight: lighter;
    text-align: center;
    color: grey;
   
}

nav ul {
    display: flex;
    justify-content: space-around; 
}

nav ul li {
    font-family: 'Amatic SC', cursive;
    font-size: 1rem;
    list-style: none;
    padding: 0.5rem;
    border: none;
    border-radius: 2rem;
}

nav ul li a{
    text-decoration: none;
    color:grey    
}

.navCatalina {
      background-color: #ffc8a2;
}

.navPrimermes {
   background-color: #b5ead7;
}

.navSegundomes {
   
    background-color: #ff9aa2;
}

.navTercermes {
    background-color: #ffffb5;
}

.navContacto {
     background-color: #cbaacb;
}

/*estilos del main*/
/* Para la version 480 no tendria sentido, pero me queda para las otras versiones*/
main {
    justify-content: center;
    padding: 1.5rem;
        display: grid;
    grid-template-areas: "miNacimiento miNacimiento"
                         "video video"
                         "seccionUno seccionDos";
                         
    
}

.miNacimiento{
     grid-area: miNacimiento;
    
}
     
h2 {
    text-align: center;  
    font-family: 'Amatic SC', cursive;      
    color: black;
}
    
p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

    
.video{
    grid-area: video;
    justify-content: center;
}

.cartaNatal{
    display:none
}

.familiaDatos{
    display:none
}

footer {
    background-color: #f7f4f8;
    text-align: right;
}
@media screen and (min-width:600px) {
    .cartaNatal{
        display:block;        
    }
    .agranda {
        animation-name: cartaGran;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 30s;
    }
    
    @keyframes cartaGran {
        from{
            transform: scale(0.2);
        }
        to{ 
            transform: scale(1);
        }
        
    }
.fondoContacto{
    background-color: #8a0c16;
}
   
}

/*MQ*/

  /*  
h3 {
     
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    color: black;
}

.listaCrecimiento{
    text-align: center;
}


ul li {
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
    list-style-type: circle;
}
*/


}

